/* خلفية مشوشة */
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* خلفية شفافة */
  backdrop-filter: blur(5px); /* تأثير التمويه */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* فوق جميع العناصر */
}
   

.form-container {
  width: 350px;
  height: 500px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px 30px;
  font-family: 'Poppins';
  z-index: 20; /* Above the overlay */
}


.title {
  text-align: center;
  font-family: 'Poppins';
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
  color: #0442c3;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #0442c3;
  text-decoration-color: #0442c3;
  font-family: 'Poppins';
  font-weight: 800;
}

.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}

.page-link-label:hover {
  color: #000;
}

.form-btn {
  padding: 10px 15px;
  border-radius: 10px;
  border: 0 !important;
  outline: 0 !important;
  background: #0442c3;
  color: white;
  font-size: large;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
  box-shadow: none;
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #000;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: #0442c3;
  color: #0442c3;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}

.apple-login-button,
.google-login-button {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-size: large;
        gap: 5px;
}

.apple-login-button {
  background-color: #0442c3;
  color: #fff;
  border: 2px solid #0442c3;
}

.google-login-button {
  border: 2px solid #747474;
}

.apple-icon,
.google-icon {
  font-size: 18px;
  margin-bottom: 1px;
}

/* Responsive Design */
@media screen and (max-width: 400px) {
  .form-container {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .title {
    font-size: 24px;
    margin: 8px 0 20px 0;
  }

  .input, .form-btn, .apple-login-button, .google-login-button {
    padding: 8px 12px;
    background-color: #0336a4;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 20px;
  }

  .form {
    gap: 12px;
  }

  .buttons-container {
    gap: 10px;
  }
}    